* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none;  /*webkit浏览器*/
    -ms-user-select: none;   /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
    -moz-user-drag: none; /*火狐*/
    -webkit-user-drag: none;  /*webkit浏览器*/
    -ms-user-drag: none;   /*IE10*/
    -khtml-user-drag: none; /*早期浏览器*/
    user-drag: none;
}

html, body, .main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "DB LCD Temp", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

.main, #mask2 {
    background: #5d803b url(img/bg.png?__inline) repeat-x 0 0;
    background-size: auto 100%;
}

body.show-mask .main{}

.mask {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    top: 0; left: 0;
    color: white;
}

.show-mask .mask {
    display: block;
}

#loading {
    position: absolute;
    width: 102px;
    height: 65px;
    top: 50%; left: 50%;
    margin-top: -33px; margin-left: -51px;
}

#loading .squirrel {
    width: 60px;
    height: 50px;
    background: url(img/loading.gif?__inline) no-repeat 0 0;
    background-size: 60px 50px;
    margin: 0 auto 10px;
}

#loading .progress {
    width: 100px;
    height: 2px;
    border: 1px solid #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.8);
}

#loading .progress #loaded {
    width: 0;
    background: #f00;
    height: 2px;
    overflow: hidden;
    line-height: 2px;

    transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
}

#goal {
    width: 100%;
    height: 100%;
}

#mask2 {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: none;
}

#mask2 div {
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -10px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.75);
}

.score {
    position: absolute;
    top: 0; right: 0;
    width: 145px;
    height: 38px;
    background: url(img/timer.png?__inline) no-repeat 0 0;
    background-size: 150px 30px;
    text-align: right;
    text-shadow: 0 1px 1px #000;
    line-height: 16px;
    font-size: 18px;
    color: #fff;
}

#slided,
#timer {
    position: absolute;
    left: 37px;
    overflow: hidden;
    height: 16px;
    top: 7px;
}

#timer {
    left: 85px;
}

#guide {
    width: 300px;
    text-align: center;
    position: absolute;
    top: 50%; left: 50%;
    margin-top: -120px; margin-left: -150px;

    opacity: 0;
    transform: translate3d(0, -100px, 0);
    -webkit-transform: translate3d(0, -100px, 0);
    -moz-transform: translate3d(0, -100px, 0);
    -ms-transform: translate3d(0, -100px, 0);
    -o-transform: translate3d(0, -100px, 0);
    display: none;

    transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
}

#story {
    width: 280px;
    background: #203110 url(img/guide.png) no-repeat 0 bottom;
    background-size: 300px 130px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 12px;
    padding:10px 10px 130px;
    line-height: 18px;
}

.show-guide #guide {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
}

.btn {
    color: #fff;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background: #01cc00;
    border-radius: 5px;
    box-shadow: 0 3px 0 #025102;
    font-size: 20px;
    line-height: 20px;
    padding: 10px 19px;
}

.btn-share {
    background: #5a93fe;
    box-shadow: 0 3px 0 #039;
}

.btn:active {
    opacity: 0.6;
}

.mask .panel {
    position: absolute;
    width: 290px;
    height: 160px;
    top: 50%; margin-top: -174px;
    left: 50%; margin-left: -145px;
    overflow: hidden;
    padding-top: 128px;

    transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;

    opacity: 0;
    transform: translate3d(0, -100px, 0);
    -webkit-transform: translate3d(0, -100px, 0);
    -moz-transform: translate3d(0, -100px, 0);
    -ms-transform: translate3d(0, -100px, 0);
    -o-transform: translate3d(0, -100px, 0);
}

.show-panel .panel {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
}

.mask .slogan {
    content: ' ';
    background: url(img/win.png?__inline) no-repeat center top;
    background-size: 214px 144px;
    width: 100%;
    height: 144px;
    position: absolute;
    top: 0; left: 0;
}

.panel.fail .slogan {
    background-image: url(img/fail.png?__inline);
}

.info {
    width: 260px;
    height: 58px;
    background-color: #20310f;
    padding: 14px 15px 14px 15px;
    border-radius: 10px;
    text-align: center;
}

.fail .info {
    height: 76px;
}

.info strong {
    float: left;
    width: 89px;
    height: 58px;
    line-height: 58px;
    margin-right: 9px;
    position: relative;
}

.info strong:before,
.info strong:after {
    content: attr(data-title);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    color: #f60;
}

.info strong:before {
    -webkit-text-stroke: 5px #fff;
}

.info span {
    font-size: 14px;
    line-height: 19px;
}

.mask a,
.mask em {
    font-weight: bold;
    padding: 0 4px;
    color: #0ad104;
    font-style: normal;
}

.mask a {
    color: #f60;
}

.btn-bar {
    margin-top: 10px;
    padding: 0 5px;
}

.btn-bar #restart {
    float: right;
}